# Python
__pycache__/
*.pyc

# AWS
.aws/
credentials

# Local env
.env
.venv/
venv/

# Output
output/

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store

archive/

inputs/*.csv
!inputs/dummy_roles.csv

output/

bootstrap_project.py

recreate_test_roles.py

test_cfn_role.pytest_auth.py
